@{
    ViewBag.Title = "Home Page";
}
<!--JUMBOTRON ON HOMEPAGE, PHOTO AND CREATE REVIEW-->
<div class="container-fluid">
    <div class="jumbotron hometron">
        <h1>TechNewbs</h1>
        <p>
            @Html.ActionLink("Write A Review!", "Create", "Reviews", new { area = "" }, new { @class = "btn btn-primary", role = "button" })
        </p>
    </div>
</div>
<!--Header and Top Rated Reviews Content on Home Page-->
<div class="row">
    <div class="col-md-12">
        <h2>Top Reviews</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Top Rated Reviews Would Go Here</p>
    </div>
</div>
