@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="jumbotron hometron">
        <h1>TechNewbs</h1>
        <p>
            @Html.ActionLink("Write A Review!", "Create", "Reviews", new { area = "" }, new { @class = "btn btn-primary", role = "button" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Top Reviews</h2>
        <p>
My Review Will Go Here
        </p>
    </div>
</div>