body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*NAVBAR*/
.navbar {
    background-color: #AE0100;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-fixed-top {
    top: 0;
    border-top-width: 1px;
    border-bottom-width: 5px;
}
/*JUMBOTRON STYLE*/
.hometron {
    background-image: url('../images/jumbrotronimage.jpg');
    background-size: cover;
    height: 400px;
}

.jumbotron h1, .jumbotron .h1 {
    color: white;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: silver;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/*REVIEW COLUMNS*/
.onereview {
    background-color: white;
    border: none;
    border: none;
}

.btn {
    display: inline-block;
    position: absolute;
}

.btn-primary {
    color: white;
    background-color: #AE0100;
    border-color: #AE0100;
}

.thumbnail {
    border: none;
    margin: 0px;
    padding-bottom: 50px;
    padding-top: 1px;
}
/*Create New*/
.createreview {
    margin-top: 5px;
    color: white;
    height: 50px;
    width: 100px;
    background-color: #AE0100;
    border-color: #AE0100;
}

a {
    color: white;
    text-decoration: none;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
