body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navbar{
    background-color:#AE0100;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-fixed-top {
    top: 0;
    border-top-width:1px;
    border-bottom-width: 5px;
}
 .hometron {
    background-image: url('../images/jumbrotronimage.jpg');
    background-size:cover;
    height:400px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:silver;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.onereview{
    background-color: lightblue;
    border: none;
        padding:0px;
           border: none;
}
.thumbnail{
    padding:0px;
    border:none;
    margin:0px;
}
.jumbotron h1, .jumbotron .h1 {
    color:white;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
